<div class="summary-list" onos-table-resize>
    <div class="table-header" onos-sortable-header>
        <table>
            <tr>
                <td colId="level" sortable col-width="140px"> level </td>
                <td colId="alarmSource" sortable col-width="140px"> alarm source </td>
                <td colId="name" sortable col-width="140px"> name </td>
                <td colId="type" sortable col-width="140px"> type </td>
                <td colId="location" sortable col-width="140px"> location </td>
                <td colId="happenTime" sortable col-width="140px"> happen time </td>
            </tr>
        </table>
    </div>

    <div class="table-body">
        <table onos-flash-changes id-prop="id">
            <tr ng-if="!tableData.length" class="no-data">
                <td colspan="6">
                    {{annots.no_rows_msg}}
                </td>
            </tr>

            <tr ng-repeat="historicalAlarm in tableData | filter:queryFilter track by $index"
                ng-repeat-complete row-id="{{historicalAlarm.level}}">
                <td>{{historicalAlarm.level}}</td>
                <td>{{historicalAlarm.alarmSource}}</td>
                <td>{{historicalAlarm.name}}</td>
                <td>{{historicalAlarm.type}}</td>
                <td>{{historicalAlarm.location}}</td>
                <td>{{historicalAlarm.happenTime}}</td>
            </tr>
        </table>
    </div>
</div>