<div id="ov-soon">
    <div class="soon-left">
        <div class="soon-left-logo-container">
            <span class="soon-left-logo" ng-click="defaultSubPage()">
                <img class="soon-logo" src="app/view/soon/soonLogo.png">
            </span>
        </div>
        <div class="soon-left-content-container">
            <ul class="soon-left-content" id="soonContent">
                <li>
                   <div class="soon-left-content-item-container">
                       <p ng-click="navTo($event)">
                           alarm predict
                       </p>
                   </div>
                </li>
                <li>
                    <div class="soon-left-content-item-container">
                        <p ng-click="navTo($event)">
                            fault classification
                        </p>
                    </div>
                </li>
                <li>
                    <div class="soon-left-content-item-container">
                        <p ng-click="navTo($event)">
                            fault locate
                        </p>
                    </div>
                </li>
                <li>
                    <div class="soon-left-content-item-container">
                        <p ng-click="navTo($event)">
                            traffic predict
                        </p>
                    </div>
                </li>
                <li>
                    <div class="soon-left-content-item-container">
                        <p ng-click="navTo($event)">
                            service reroute
                        </p>
                    </div>
                </li>
                <li>
                    <div class="soon-left-content-item-container">
                        <p ng-click="navTo($event)">
                            model library
                        </p>
                    </div>
                </li>
                <li>
                    <div class="soon-left-content-item-container">
                        <p ng-click="navTo($event)">
                            raw data
                        </p>
                    </div>
                </li>
                <li>
                    <div class="soon-left-content-item-container">
                        <p ng-click="navTo($event)">
                            data set
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="soon-left-splitter-container">
            <div class="soon-left-splitter" tooltip tt-msg="collapseSidebarTip" ng-click="collapseSidebar()"></div>
        </div>
    </div>
    <div class="soon-right" id="soon-view">
        <div class="alarm-predict" id="alarmPred">
            <div class="tabular-header">
                <h2>
                    alarm predict
                </h2>
                <div class="ctrl-btns">
                    <div class="refresh" ng-class="{active: autoRefresh}"
                        icon icon-size="42" icon-id="refresh"
                        tooltip tt-msg="autoRefreshTip"
                        ng-click="toggleRefresh()"></div>

                    <div class="separator"></div>

                    <div class="functionStart"
                         tooltip tt-msg="alarmPredStartTip"
                         ng-click="alarmPredShow(true)">
                        <img src="app/view/soon/functionStart.png" class="ctrl-imgs">
                    </div>
                    <div class="functionStop"
                         tooltip tt-msg="alarmPredStopTip"
                         ng-click="alarmPredShow(false)">
                        <img src="app/view/soon/functionStop.png" class="ctrl-imgs">
                    </div>
                    <div class="showRawData"
                         tooltip tt-msg="showRawDataTip"
                         ng-click="showRawDataPerformance()">
                        <img src="app/view/soon/showRawData.png" class="ctrl-imgs">
                    </div>
                    <div class="showTrainDataSet"
                         tooltip tt-msg="showTrainDataSetTip"
                         ng-click="showTrainDataSet()">
                        <img src="app/view/soon/showTrainDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showTestDataSet"
                         tooltip tt-msg="showTestDataSetTip"
                         ng-click="showTestDataSet()">
                        <img src="app/view/soon/showTestDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showModelInformation"
                         tooltip tt-msg="showModelInformationTip"
                         ng-click="showModelInformation()">
                        <img src="app/view/soon/showModelInformation.png" class="ctrl-imgs">
                    </div>
                    <div class="alarmPredSetting"
                         tooltip tt-msg="alarmPredSettingTip"
                         ng-click="alarmPredSetting()">
                        <img src="app/view/soon/setting.png" class="ctrl-imgs">
                    </div>
                </div>
                <div class="search">
                    <input type="text" ng-model="queryTxt" placeholder="Search"/>
                    <select ng-model="queryBy">
                        <option value="" disabled>Search By</option>
                        <option value="$">All Fields</option>
                        <option value="time">time</option>
                        <option value="alarmHappen">alarm happen</option>
                        <option value="modelId">model id</option>
                        <option value="trainDataSetId">train data set id</option>
                        <option value="testDataSetId">test data set id</option>
                        <option value="testAccuracy">test accuracy</option>
                    </select>
                </div>
            </div>
            <div class="summary-list" onos-table-resize>
                <div class="table-header" onos-sortable-header>
                    <table>
                        <tr>
                            <td colId="time" sortable col-width="140px"> time </td>
                            <td colId="alarmHappen" sortable col-width="140px"> alarm happen </td>
                            <td colId="modelId" sortable col-width="140px"> model id </td>
                            <td colId="trainDataSetId" sortable col-width="140px"> train data set id </td>
                            <td colId="testDataSetId" sortable col-width="140px"> test data set id </td>
                            <td colId="testAccuracy" sortable col-width="140px"> test accuracy </td>
                        </tr>
                    </table>
                </div>

                <div class="table-body">
                    <table onos-flash-changes id-prop="id">
                        <tr ng-if="!tableData.length" class="no-data">
                            <td colspan="6">
                                {{annots.no_rows_msg}}
                            </td>
                        </tr>

                        <tr ng-repeat="alarmPred in alarmpred.tableData | filter:queryFilter track by $index"
                            ng-click="selectCallback($event,alarmPred)"
                            ng-class="{selected: alarmPred.id === selId}"
                            ng-repeat-complete row-id="{{alarmPred.id}}">
                            <td>{{alarmPred.time}}</td>
                            <td>{{alarmPred.alarmHappen}}</td>
                            <td>{{alarmPred.modelId}}</td>
                            <td>{{alarmPred.trainDataSetId}}</td>
                            <td>{{alarmPred.testDataSetId}}</td>
                            <td>{{alarmPred.testAccuracy}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="fault-classification" id="faultClassification" >
            <div class="tabular-header">
                <h2>
                    fault classification
                </h2>
                <div class="ctrl-btns">
                    <div class="refresh" ng-class="{active: autoRefresh}"
                         icon icon-size="42" icon-id="refresh"
                         tooltip tt-msg="autoRefreshTip"
                         ng-click="toggleRefresh()"></div>

                    <div class="separator"></div>

                    <div class="functionStart"
                         tooltip tt-msg="faultClassificationStartTip"
                         ng-click="faultClassificationShow(true)">
                        <img src="app/view/soon/functionStart.png" class="ctrl-imgs">
                    </div>
                    <div class="functionStop"
                         tooltip tt-msg="faultClassificationStopTip"
                         ng-click="faultClassificationShow(false)">
                        <img src="app/view/soon/functionStop.png" class="ctrl-imgs">
                    </div>
                    <div class="showRawData"
                         tooltip tt-msg="showRawDataTip"
                         ng-click="showRawData()">
                        <img src="app/view/soon/showRawData.png" class="ctrl-imgs">
                    </div>
                    <div class="showTrainDataSet"
                         tooltip tt-msg="showTrainDataSetTip"
                         ng-click="showTrainDataSet()">
                        <img src="app/view/soon/showTrainDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showTestDataSet"
                         tooltip tt-msg="showTestDataSetTip"
                         ng-click="showTestDataSet()">
                        <img src="app/view/soon/showTestDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showModelInformation"
                         tooltip tt-msg="showModelInformationTip"
                         ng-click="showModelInformation()">
                        <img src="app/view/soon/showModelInformation.png" class="ctrl-imgs">
                    </div>
                    <div class="faultClassificationSetting"
                         tooltip tt-msg="faultClassificationSettingTip"
                         ng-click="faultClassificationSetting()">
                        <img src="app/view/soon/setting.png" class="ctrl-imgs">
                    </div>
                </div>
                <div class="search">
                    <input type="text" ng-model="queryTxt" placeholder="Search"/>
                    <select ng-model="queryBy">
                        <option value="" disabled>Search By</option>
                        <option value="$">All Fields</option>
                        <option value="time">time</option>
                        <option value="faultType">fault type</option>
                        <option value="modelId">model id</option>
                        <option value="trainDataSetId">train data set id</option>
                        <option value="testDataSetId">test data set id</option>
                        <option value="testAccuracy">test accuracy</option>
                    </select>
                </div>
            </div>
            <div class="summary-list" onos-table-resize>
                <div class="table-header" onos-sortable-header>
                    <table>
                        <tr>
                            <td colId="time" sortable col-width="140px"> time </td>
                            <td colId="faultType" sortable col-width="140px"> fault type </td>
                            <td colId="modelId" sortable col-width="140px"> model id </td>
                            <td colId="trainDataSetId" sortable col-width="140px"> train data set id </td>
                            <td colId="testDataSetId" sortable col-width="140px"> test data set id </td>
                            <td colId="testAccuracy" sortable col-width="140px"> test accuracy </td>
                        </tr>
                    </table>
                </div>

                <div class="table-body">
                    <table onos-flash-changes id-prop="id">
                        <tr ng-if="!tableData.length" class="no-data">
                            <td colspan="6">
                                {{annots.no_rows_msg}}
                            </td>
                        </tr>

                        <tr ng-repeat="faultClassification in faultClassification.tableData | filter:queryFilter track by $index"
                            ng-click="selectCallback($event,faultClassification)"
                            ng-class="{selected: faultClassification.id === selId}"
                            ng-repeat-complete row-id="{{faultClassification.id}}">
                            <td>{{faultClassification.time}}</td>
                            <td>{{faultClassification.faultType}}</td>
                            <td>{{faultClassification.modelId}}</td>
                            <td>{{faultClassification.trainDataSetId}}</td>
                            <td>{{faultClassification.testDataSetId}}</td>
                            <td>{{faultClassification.testAccuracy}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="alarm-predict" id="areaPred">
            <div class="tabular-header">
                <h2>
                    alarm predict
                </h2>
                <div class="ctrl-btns">
                    <div class="refresh" ng-class="{active: autoRefresh}"
                         icon icon-size="42" icon-id="refresh"
                         tooltip tt-msg="autoRefreshTip"
                         ng-click="toggleRefresh()"></div>

                    <div class="separator"></div>

                    <div class="functionStart"
                         tooltip tt-msg="alarmPredStartTip"
                         ng-click="alarmPredShow(true)">
                        <img src="app/view/soon/functionStart.png" class="ctrl-imgs">
                    </div>
                    <div class="functionStop"
                         tooltip tt-msg="alarmPredStopTip"
                         ng-click="alarmPredShow(false)">
                        <img src="app/view/soon/functionStop.png" class="ctrl-imgs">
                    </div>
                    <div class="showRawData"
                         tooltip tt-msg="showRawDataTip"
                         ng-click="showRawDataPerformance()">
                        <img src="app/view/soon/showRawData.png" class="ctrl-imgs">
                    </div>
                    <div class="showTrainDataSet"
                         tooltip tt-msg="showTrainDataSetTip"
                         ng-click="showTrainDataSet()">
                        <img src="app/view/soon/showTrainDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showTestDataSet"
                         tooltip tt-msg="showTestDataSetTip"
                         ng-click="showTestDataSet()">
                        <img src="app/view/soon/showTestDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showModelInformation"
                         tooltip tt-msg="showModelInformationTip"
                         ng-click="showModelInformation()">
                        <img src="app/view/soon/showModelInformation.png" class="ctrl-imgs">
                    </div>
                    <div class="alarmPredSetting"
                         tooltip tt-msg="alarmPredSettingTip"
                         ng-click="alarmPredSetting()">
                        <img src="app/view/soon/setting.png" class="ctrl-imgs">
                    </div>
                </div>
                <div class="search">
                    <input type="text" ng-model="queryTxt" placeholder="Search"/>
                    <select ng-model="queryBy">
                        <option value="" disabled>Search By</option>
                        <option value="$">All Fields</option>
                        <option value="time">time</option>
                        <option value="alarmHappen">alarm happen</option>
                        <option value="modelId">model id</option>
                        <option value="trainDataSetId">train data set id</option>
                        <option value="testDataSetId">test data set id</option>
                        <option value="testAccuracy">test accuracy</option>
                    </select>
                </div>
            </div>
            <div class="summary-list" onos-table-resize>
                <div class="table-header" onos-sortable-header>
                    <table>
                        <tr>
                            <td colId="time" sortable col-width="140px"> time </td>
                            <td colId="alarmHappen" sortable col-width="140px"> alarm happen </td>
                            <td colId="modelId" sortable col-width="140px"> model id </td>
                            <td colId="trainDataSetId" sortable col-width="140px"> train data set id </td>
                            <td colId="testDataSetId" sortable col-width="140px"> test data set id </td>
                            <td colId="testAccuracy" sortable col-width="140px"> test accuracy </td>
                        </tr>
                    </table>
                </div>

                <div class="table-body">
                    <table onos-flash-changes id-prop="id">
                        <tr ng-if="!tableData.length" class="no-data">
                            <td colspan="6">
                                {{annots.no_rows_msg}}
                            </td>
                        </tr>

                        <tr ng-repeat="alarmPred in alarmpred.tableData | filter:queryFilter track by $index"
                            ng-click="selectCallback($event,alarmPred)"
                            ng-class="{selected: alarmPred.id === selId}"
                            ng-repeat-complete row-id="{{alarmPred.id}}">
                            <td>{{alarmPred.time}}</td>
                            <td>{{alarmPred.alarmHappen}}</td>
                            <td>{{alarmPred.modelId}}</td>
                            <td>{{alarmPred.trainDataSetId}}</td>
                            <td>{{alarmPred.testDataSetId}}</td>
                            <td>{{alarmPred.testAccuracy}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="alarm-predict" id="edgePred">
            <div class="tabular-header">
                <h2>
                    alarm predict
                </h2>
                <div class="ctrl-btns">
                    <div class="refresh" ng-class="{active: autoRefresh}"
                         icon icon-size="42" icon-id="refresh"
                         tooltip tt-msg="autoRefreshTip"
                         ng-click="toggleRefresh()"></div>

                    <div class="separator"></div>

                    <div class="functionStart"
                         tooltip tt-msg="alarmPredStartTip"
                         ng-click="alarmPredShow(true)">
                        <img src="app/view/soon/functionStart.png" class="ctrl-imgs">
                    </div>
                    <div class="functionStop"
                         tooltip tt-msg="alarmPredStopTip"
                         ng-click="alarmPredShow(false)">
                        <img src="app/view/soon/functionStop.png" class="ctrl-imgs">
                    </div>
                    <div class="showRawData"
                         tooltip tt-msg="showRawDataTip"
                         ng-click="showRawDataPerformance()">
                        <img src="app/view/soon/showRawData.png" class="ctrl-imgs">
                    </div>
                    <div class="showTrainDataSet"
                         tooltip tt-msg="showTrainDataSetTip"
                         ng-click="showTrainDataSet()">
                        <img src="app/view/soon/showTrainDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showTestDataSet"
                         tooltip tt-msg="showTestDataSetTip"
                         ng-click="showTestDataSet()">
                        <img src="app/view/soon/showTestDataSet.png" class="ctrl-imgs">
                    </div>
                    <div class="showModelInformation"
                         tooltip tt-msg="showModelInformationTip"
                         ng-click="showModelInformation()">
                        <img src="app/view/soon/showModelInformation.png" class="ctrl-imgs">
                    </div>
                    <div class="alarmPredSetting"
                         tooltip tt-msg="alarmPredSettingTip"
                         ng-click="alarmPredSetting()">
                        <img src="app/view/soon/setting.png" class="ctrl-imgs">
                    </div>
                </div>
                <div class="search">
                    <input type="text" ng-model="queryTxt" placeholder="Search"/>
                    <select ng-model="queryBy">
                        <option value="" disabled>Search By</option>
                        <option value="$">All Fields</option>
                        <option value="time">time</option>
                        <option value="alarmHappen">alarm happen</option>
                        <option value="modelId">model id</option>
                        <option value="trainDataSetId">train data set id</option>
                        <option value="testDataSetId">test data set id</option>
                        <option value="testAccuracy">test accuracy</option>
                    </select>
                </div>
            </div>
            <div class="summary-list" onos-table-resize>
                <div class="table-header" onos-sortable-header>
                    <table>
                        <tr>
                            <td colId="time" sortable col-width="140px"> time </td>
                            <td colId="alarmHappen" sortable col-width="140px"> alarm happen </td>
                            <td colId="modelId" sortable col-width="140px"> model id </td>
                            <td colId="trainDataSetId" sortable col-width="140px"> train data set id </td>
                            <td colId="testDataSetId" sortable col-width="140px"> test data set id </td>
                            <td colId="testAccuracy" sortable col-width="140px"> test accuracy </td>
                        </tr>
                    </table>
                </div>

                <div class="table-body">
                    <table onos-flash-changes id-prop="id">
                        <tr ng-if="!tableData.length" class="no-data">
                            <td colspan="6">
                                {{annots.no_rows_msg}}
                            </td>
                        </tr>

                        <tr ng-repeat="alarmPred in alarmpred.tableData | filter:queryFilter track by $index"
                            ng-click="selectCallback($event,alarmPred)"
                            ng-class="{selected: alarmPred.id === selId}"
                            ng-repeat-complete row-id="{{alarmPred.id}}">
                            <td>{{alarmPred.time}}</td>
                            <td>{{alarmPred.alarmHappen}}</td>
                            <td>{{alarmPred.modelId}}</td>
                            <td>{{alarmPred.trainDataSetId}}</td>
                            <td>{{alarmPred.testDataSetId}}</td>
                            <td>{{alarmPred.testAccuracy}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="model-library" id="modelLibrary">
            <div class="tabular-header">
                <h2>
                    model library
                </h2>
                <div class="ctrl-btns">
                    <div class="refresh" ng-class="{active: autoRefresh}"
                         icon icon-size="42" icon-id="refresh"
                         tooltip tt-msg="autoRefreshTip"
                         ng-click="toggleRefresh()"></div>

                    <div class="separator"></div>

                    <div class="modelLibrarySetting"
                         tooltip tt-msg="modelLibrarySettingTip"
                         ng-click="modelLibrarySetting()">
                        <img src="app/view/soon/setting.png" class="ctrl-imgs">
                    </div>
                </div>
                <div class="search">
                    <input type="text" ng-model="queryTxt" placeholder="Search"/>
                    <select ng-model="queryBy">
                        <option value="" disabled>Search By</option>
                        <option value="$">All Fields</option>
                        <option value="applicationType">application type</option>
                        <option value="modelId">model id</option>
                        <option value="algorithmType">algorithm type</option>
                        <option value="trainDataSetId"><t></t>rain data set id</option>
                        <option value="testDataSetId">test data set id</option>
                        <option value="modelState">model state</option>
                        <option value="modelAccuracy">model accuracy</option>
                    </select>
                </div>
            </div>
            <div class="summary-list" onos-table-resize>
                <div class="table-header" onos-sortable-header>
                    <table>
                        <tr>
                            <td colId="applicationType" sortable col-width="140px">application type</td>
                            <td colId="modelId" sortable col-width="140px">model id</td>
                            <td colId="algorithmType" sortable col-width="140px">algorithm type</td>
                            <td colId="trainDataSetId" sortable col-width="140px">train data set id</td>
                            <td colId="testDataSetId" sortable col-width="140px">test data set id</td>
                            <td colId="modelState" sortable col-width="140px">model state</td>
                            <td colId="modelAccuracy" sortable col-width="140px">model accuracy</td>
                        </tr>
                    </table>
                </div>

                <div class="table-body">
                    <table onos-flash-changes id-prop="id">
                        <tr ng-if="!tableData.length" class="no-data">
                            <td colspan="7">
                                {{annots.no_rows_msg}}
                            </td>
                        </tr>

                        <tr ng-repeat="modelLibrary in modelLibrary.tableData | filter:queryFilter track by $index"
                            ng-click="selectCallback($event,modelLibrary)"
                            ng-class="{selected: modelLibrary.modelId === selId}"
                            ng-repeat-complete row-id="{{modelLibrary.modelId}}">
                            <td>{{modelLibrary.applicationType}}</td>
                            <td>{{modelLibrary.modelId}}</td>
                            <td>{{modelLibrary.algorithmType}}</td>
                            <td>{{modelLibrary.trainDataSetId}}</td>
                            <td>{{modelLibrary.testDataSetId}}</td>
                            <td>{{modelLibrary.modelState}}</td>
                            <td>{{modelLibrary.modelAccuracy}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="raw-data" id="rawData">
            <div class="tabular-header">
                <h2>

                </h2>
                <div class="ctrl-btns">
                    <div class="refresh" ng-class="{active: autoRefresh}"
                         icon icon-size="42" icon-id="refresh"
                         tooltip tt-msg="autoRefreshTip"
                         ng-click="toggleRefresh()"></div>

                    <div class="separator"></div>

                    <div class="showHistoricalAlarm"
                         tooltip tt-msg="showHistoricalAlarmTip"
                         ng-click="showHistoricalAlarm()">
                        <img src="app/view/soon/showHistoricalAlarm.png" class="ctrl-imgs">
                    </div>
                    <div class="showCurrentAlarm"
                         tooltip tt-msg="showCurrentAlarmTip"
                         ng-click="showCurrentAlarm()">
                        <img src="app/view/soon/showCurrentAlarm.png" class="ctrl-imgs">
                    </div>
                    <div class="showPerformanceData"
                         tooltip tt-msg="showPerformanceDataTip"
                         ng-click="showPerformanceData()">
                        <img src="app/view/soon/showPerformanceData.png" class="ctrl-imgs">
                    </div>
                </div>
                <div class="search">
                    <input type="text" ng-model="queryTxt" placeholder="Search"/>
                    <select ng-model="queryBy" id="rawDataSearchBy"></select>
                </div>
            </div>
            <div class="raw-data-subpage" id="historicalAlarm">
                <div class="summary-list" onos-table-resize>
                    <div class="table-header" onos-sortable-header>
                        <table>
                            <tr>
                                <td colId="level" sortable col-width="60px">level</td>
                                <td colId="alarmSource" sortable col-width="60px">alarm source</td>
                                <td colId="name" sortable col-width="60px">name</td>
                                <td colId="type" sortable col-width="60px">type</td>
                                <td colId="location" sortable col-width="60px">location</td>
                                <td colId="pathLevel" sortable col-width="60px">path level</td>
                                <td colId="happenTime" sortable col-width="60px">happen time</td>
                                <td colId="cleanTime" sortable col-width="60px">clean time</td>
                                <td colId="confirmTime" sortable col-width="60px">confirm time</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-body">
                        <table onos-flash-changes id-prop="id">
                            <tr ng-if="!tableData.length" class="no-data">
                                <td colspan="9">
                                    {{annots.no_rows_msg}}
                                </td>
                            </tr>

                            <tr ng-repeat="historicalAlarm in historicalAlarm.tableData | filter:queryFilter track by $index"
                                ng-repeat-complete row-id="{{historicalAlarm.level}}">
                                <td>{{historicalAlarm.level}}</td>
                                <td>{{historicalAlarm.alarmSource}}</td>
                                <td>{{historicalAlarm.name}}</td>
                                <td>{{historicalAlarm.type}}</td>
                                <td>{{historicalAlarm.location}}</td>
                                <td>{{historicalAlarm.pathLevel}}</td>
                                <td>{{historicalAlarm.happenTime}}</td>
                                <td>{{historicalAlarm.cleanTime}}</td>
                                <td>{{historicalAlarm.confirmTime}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="raw-data-subpage" id="currentAlarm" >
                <div class="summary-list" onos-table-resize>
                    <div class="table-header" onos-sortable-header>
                        <table>
                            <tr>
                                <td colId="level" sortable col-width="50px">level</td>
                                <td colId="alarmSource" sortable col-width="50px">alarm source</td>
                                <td colId="name" sortable col-width="50px">name</td>
                                <td colId="location" sortable col-width="50px">location</td>
                                <td colId="frequency" sortable col-width="50px">frequency</td>
                                <td colId="pathLevel" sortable col-width="50px">path level</td>
                                <td colId="firstHappen" sortable col-width="50px">first happen</td>
                                <td colId="recentHappen" sortable col-width="50px">recent happen</td>
                                <td colId="cleanTime" sortable col-width="50px">clean time</td>
                                <td colId="confirmTime" sortable col-width="50px">confirm time</td>
                                <td colId="clean" sortable col-width="50px">clean</td>
                                <td colId="confirm" sortable col-width="50px">confirm</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-body">
                        <table onos-flash-changes id-prop="id">
                            <tr ng-if="!tableData.length" class="no-data">
                                <td colspan="6">
                                    {{annots.no_rows_msg}}
                                </td>
                            </tr>

                            <tr ng-repeat="currentAlarm in currentAlarm.tableData | filter:queryFilter track by $index"
                                ng-repeat-complete row-id="{{currentAlarm.level}}">
                                <td>{{currentAlarm.level}}</td>
                                <td>{{currentAlarm.alarmSource}}</td>
                                <td>{{currentAlarm.name}}</td>
                                <td>{{currentAlarm.location}}</td>
                                <td>{{currentAlarm.frequency}}</td>
                                <td>{{currentAlarm.pathLevel}}</td>
                                <td>{{currentAlarm.firstHappen}}</td>
                                <td>{{currentAlarm.recentHappen}}</td>
                                <td>{{currentAlarm.cleanTime}}</td>
                                <td>{{currentAlarm.confirmTime}}</td>
                                <td>{{currentAlarm.clean}}</td>
                                <td>{{currentAlarm.confirm}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="raw-data-subpage" id="performance" >
                <div class="summary-list" onos-table-resize>
                    <div class="table-header" onos-sortable-header>
                        <table>
                            <tr>
                                <td colId="node" sortable col-width="60px">node</td>
                                <td colId="board" sortable col-width="60px">board</td>
                                <td colId="port" sortable col-width="60px">port</td>
                                <td colId="component" sortable col-width="60px">component</td>
                                <td colId="event" sortable col-width="60px">event</td>
                                <td colId="endTime" sortable col-width="60px">end time</td>
                                <td colId="maxVal" sortable col-width="60px">max value</td>
                                <td colId="curVal" sortable col-width="60px">current value</td>
                                <td colId="minVal" sortable col-width="60px">min value</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-body">
                        <table onos-flash-changes id-prop="id">
                            <tr ng-if="!tableData.length" class="no-data">
                                <td colspan="9">
                                    {{annots.no_rows_msg}}
                                </td>
                            </tr>

                            <tr ng-repeat="performance in performance.tableData | filter:queryFilter track by $index"
                                ng-click="selectCallback($event,performance)"
                                ng-class="{selected: performance.id === selId}"
                                ng-repeat-complete row-id="{{performance.id}}">
                                <td>{{performance.node}}</td>
                                <td>{{performance.board}}</td>
                                <td>{{performance.port}}</td>
                                <td>{{performance.component}}</td>
                                <td>{{performance.event}}</td>
                                <td>{{performance.endTime}}</td>
                                <td>{{performance.maxVal}}</td>
                                <td>{{performance.curVal}}</td>
                                <td>{{performance.minVal}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="data-set" id="dataSet" >
            <div class="tabular-header">
                <h2>
                    data set
                </h2>
                <div class="ctrl-btns">
                    <div class="refresh" ng-class="{active: autoRefresh}"
                         icon icon-size="42" icon-id="refresh"
                         tooltip tt-msg="autoRefreshTip"
                         ng-click="toggleRefresh()"></div>

                    <div class="separator"></div>

                    <form class="dataSet-select-dialog-form">
                        <p class="form-label">
                            <select ng-model="appType" id="appType">
                                <option value="alarmPred">alarm predict</option>
                                <option value="faultClassification">fault classification</option>
                                <option value="areaPred">area traffic prediction</option>
                                <option value="edgePred">edge traffic prediction</option>
                            </select>
                            <label for="appType">application type: </label>
                        </p>
                        <p class="form-label">
                            <select ng-model="algoType" id="algoType">
                                <option value="fcnn">fully connected neural network</option>
                                <option value="rnn" disabled>recurrent neural network</option>
                                <option value="cnn" disabled>convolutional neural network</option>
                                <option value="lstm" disabled>long short-term memory</option>
                                <option value="randomforest" disabled>random forest</option>
                            </select>
                            <label for="algoType">algorithm type: </label>
                        </p>
                        <p class="form-label">
                            <select ng-model="dataSetType" id="dataSetType">
                                <option value="train">train data set</option>
                                <option value="test">test data set</option>
                            </select>
                            <label for="dataSetType">data set type: </label>
                        </p>
                        <p class="form-label">
                            <input type="text" ng-model="modelId" id="modelId" placeholder="unnecessary">
                            <label for="modelId">machine learning model id: </label>
                            <button class="dataSetSelectModelId">apply</button>
                        </p>
                        <p class="form-label">
                            <input type="text" ng-model="dataSetId" id="dataSetId" placeholder="unnecessary">
                            <label for="dataSetId">dataSet id: </label>
                            <button class="dataSetSelectDataSetId">apply</button>
                        </p>
                    </form>
                    <div class="dataSetShowSelect"
                         tooltip tt-msg="dataSetShowSelectTip"
                         ng-click="dataSetShowSelect()">
                        <img src="app/view/soon/dataSetShowSelect.png" class="ctrl-imgs">
                    </div>
                </div>
                <div class="search">
                    <input type="text" ng-model="queryTxt" placeholder="Search"/>
                    <select ng-model="queryBy" id="dataSetSearchBy">
                        <option value="" disabled>Search By</option>
                        <option value="$">All Fields</option>
                        <option value="id">id</option>
                        <option value="alarmHappen">alarm happen</option>
                        <option value="dataSetId">data set id</option>
                        <option value="dataSetType">data set type</option>
                    </select>
                </div>
            </div>
            <div class="data-set-subpage" id="alarmPredDataSet">
                <div class="summary-list" onos-table-resize>
                    <div class="table-header" onos-sortable-header>
                        <table>
                            <tr>
                                <td colId="dataId" sortable col-width="60px">data id</td>
                                <td colId="alarmHappen" sortable col-width="60px">alarm happen</td>
                                <td colId="dataSetId" sortable col-width="60px">data set id</td>
                                <td colId="dataSetType" sortable col-width="60px">data set Type</td>
                                <td colId="inputType" sortable col-width="60px">input type</td>
                                <td colId="input" sortable col-width="200px">input</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-body">
                        <table onos-flash-changes id-prop="id">
                            <tr ng-if="!tableData.length" class="no-data">
                                <td colspan="6">
                                    {{annots.no_rows_msg}}
                                </td>
                            </tr>

                            <tr ng-repeat="alarmPredDataSet in alarmPredDataSet.tableData | filter:queryFilter track by $index"
                                ng-click="selectCallback($event,alarmPredDataSet)"
                                ng-class="{selected: alarmPredDataSet.dataId === selId}"
                                ng-repeat-complete row-id="{{alarmPredDataSet.dataId}}">
                                <td>{{alarmPredDataSet.dataId}}</td>
                                <td>{{alarmPredDataSet.alarmHappen}}</td>
                                <td>{{alarmPredDataSet.dataSetId}}</td>
                                <td>{{alarmPredDataSet.dataSetType}}</td>
                                <td>{{alarmPredDataSet.inputType}}</td>
                                <td>{{alarmPredDataSet.input}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="data-set-subpage" id="faultClassificationDataSet">
                <div class="summary-list" onos-table-resize>
                    <div class="table-header" onos-sortable-header>
                        <table>
                            <tr>
                                <td colId="dataId" sortable col-width="60px">data id</td>
                                <td colId="faultType" sortable col-width="60px">fault type</td>
                                <td colId="dataSetId" sortable col-width="60px">data set id</td>
                                <td colId="dataSetType" sortable col-width="60px">data set Type</td>
                                <td colId="input" sortable col-width="200px">input</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-body">
                        <table onos-flash-changes id-prop="id">
                            <tr ng-if="!tableData.length" class="no-data">
                                <td colspan="5">
                                    {{annots.no_rows_msg}}
                                </td>
                            </tr>

                            <tr ng-repeat="faultClassificationDataSet in faultClassificationDataSet.tableData | filter:queryFilter track by $index"
                                ng-click="selectCallback($event,faultClassificationDataSet)"
                                ng-class="{selected: faultClassificationDataSet.dataId === selId}"
                                ng-repeat-complete row-id="{{faultClassificationDataSet.dataId}}">
                                <td>{{faultClassificationDataSet.dataId}}</td>
                                <td>{{faultClassificationDataSet.faultType}}</td>
                                <td>{{faultClassificationDataSet.dataSetId}}</td>
                                <td>{{faultClassificationDataSet.dataSetType}}</td>
                                <td>{{faultClassificationDataSet.input}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="data-set-subpage" id="areaPredDataSet">
                <div class="summary-list" onos-table-resize>
                    <div class="table-header" onos-sortable-header>
                        <table>
                            <tr>
                                <td colId="dataId" sortable col-width="50px">data id</td>
                                <td colId="areaId" sortable col-width="50px">area id</td>
                                <td colId="dataSetId" sortable col-width="50px">data set id</td>
                                <td colId="dataSetType" sortable col-width="50px">data set Type</td>
                                <td colId="tide" sortable col-width="50px">tide</td>
                                <td colId="timePoint" sortable col-width="50px">time point</td>
                                <td colId="oneHoursAfter" sortable col-width="150px">output</td>
                                <td colId="twoHoursBefore" sortable col-width="150px">input</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-body">
                        <table onos-flash-changes id-prop="id">
                            <tr ng-if="!tableData.length" class="no-data">
                                <td colspan="8">
                                    {{annots.no_rows_msg}}
                                </td>
                            </tr>

                            <tr ng-repeat="areaPredDataSet in areaPredDataSet.tableData | filter:queryFilter track by $index"
                                ng-click="selectCallback($event,areaPredDataSet)"
                                ng-class="{selected: areaPredDataSet.dataId === selId}"
                                ng-repeat-complete row-id="{{areaPredDataSet.dataId}}">
                                <td>{{areaPredDataSet.dataId}}</td>
                                <td>{{areaPredDataSet.areaId}}</td>
                                <td>{{areaPredDataSet.dataSetId}}</td>
                                <td>{{areaPredDataSet.dataSetType}}</td>
                                <td>{{areaPredDataSet.tide}}</td>
                                <td>{{areaPredDataSet.timePoint}}</td>
                                <td>{{areaPredDataSet.oneHoursAfter}}</td>
                                <td>{{areaPredDataSet.twoHoursBefore}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="data-set-subpage" id="edgePredDataSet">
                <div class="summary-list" onos-table-resize>
                    <div class="table-header" onos-sortable-header>
                        <table>
                            <tr>
                                <td colId="dataId" sortable col-width="50px">data id</td>
                                <td colId="edgeId" sortable col-width="50px">edge id</td>
                                <td colId="dataSetId" sortable col-width="50px">data set id</td>
                                <td colId="dataSetType" sortable col-width="50px">data set Type</td>
                                <td colId="timePoint" sortable col-width="50px">time point</td>
                                <td colId="oneHoursAfter" sortable col-width="150px">output</td>
                                <td colId="twoHoursBefore" sortable col-width="150px">input</td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-body">
                        <table onos-flash-changes id-prop="id">
                            <tr ng-if="!tableData.length" class="no-data">
                                <td colspan="7">
                                    {{annots.no_rows_msg}}
                                </td>
                            </tr>

                            <tr ng-repeat="edgePredDataSet in edgePredDataSet.tableData | filter:queryFilter track by $index"
                                ng-click="selectCallback($event,edgePredDataSet)"
                                ng-class="{selected: edgePredDataSet.dataId === selId}"
                                ng-repeat-complete row-id="{{edgePredDataSet.dataId}}">
                                <td>{{edgePredDataSet.dataId}}</td>
                                <td>{{edgePredDataSet.edgeId}}</td>
                                <td>{{edgePredDataSet.dataSetId}}</td>
                                <td>{{edgePredDataSet.dataSetType}}</td>
                                <td>{{edgePredDataSet.timePoint}}</td>
                                <td>{{edgePredDataSet.oneHoursAfter}}</td>
                                <td>{{edgePredDataSet.twoHoursBefore}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>