/*
	ONOS GUI --SOON View  --css file
 */

.soon-left {
    width:16%;
    position: fixed;
    z-index: 10;
    bottom: 0;
    top: 48px;
    left: 0px;
    visibility: visible;
}
.soon-left-sidebar-container{
    position: absolute;
    top: 0;
    bottom: 110px;
    width: 100%;
    background-color: #f4f5f7;
    overflow-y: auto;
}
.soon-left-sidebar-logo {
    margin: 45px 0 20px 0;
    display: table;
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}
.soon-left-logo-container{
    padding: 0px 9px 0px 30px;
    display: table-cell;
    width: 48px;
    min-width: 48px;
}
.soon-left-logo {
    cursor: pointer;
}
.soon-left-logo img {
    max-width: 87px;
    height: auto;
    border-radius: 8px;
}
/*.soon-left-name-container{*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/
/*.soon-name{*/
    /*vertical-align: middle;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
/*}*/
#ov-soon a {
    cursor: pointer;
}
.soon-name .soon-left-item-content-container a:hover {
    display: inline-block;
    color: #3b73af;
    cursor: pointer;
}
.soon-left-content-container{
    margin: 30px 10px;
}
.soon-left-sub-content {
    padding: 0px;
}
.sub-content-name-container{
    padding: 3px 2px;
}
.sub-content-container {
}
.soon-left-item-content-container a:active{
    color: #0052CC;
}
.soon-left ul {
    list-style-type: none;
}
.soon-left li {
    margin: 10px 0px;
}
.soon-left-mechanism-container {
    position: absolute;
    bottom: 30px;
    width: 100%;
}
.soon-left-mechanism-logo {
    padding: 0 14px;
    float: left;
}
.soon-left-mechanism-logo img {
    width: 69px;
    height: 69px;
    max-height: 69px;
    max-width: 69px;
}

.soon-right{
    margin-left: 16%;
    padding: 0px 20px;
}
.soon-right .btn-container {
    padding: 0 10px;
}
.btn-container i{
    font-size: 27px;
    color: #009fdb;
}
.btn-container i div{
    font-family: 'Open Sans';
    font-size: 8px;
}
/*
 initial subpage --model library
 */
#modelLibrary{
    display: block;
}
#alarmPred,#faultClassification,#areaPred,#edgePred,#dataSet,
#alarmPredDataSet,#faultClassificationDataSet,#areaPredDataSet,
#edgePredDataSet,#rawData,#historicalAlarm,#currentAlarm,#KnowledgeGraph,
#SampleData,#EntitySelection,#KnowledgeExtraction,#performance{
    display: none;
}

#modelLibrary-add-dialog {
    left: 20px;
}
#alarmPred-setting-dialog h2,#faultClassification-setting-dialog h2,#areaPred-setting-dialog h2,
#edgePred-setting-dialog h2,#dataSet-select-dialog h2,#modelLibrary-add-dialog h2,
#modelLibrary-management-dialog h2, #modelLibrary-evaluate-dialog h2,#modelLibrary-setTrain-dialog h2{
    width: 100%;
    padding: 14px;
}
#alarmPred-setting-dialog .body,#faultClassification-setting-dialog .body,#areaPred-setting-dialog .body,
#edgePred-setting-dialog .body,#dataSet-select-dialog .body,#modelLibrary-add-dialog .body,
#modelLibrary-management-dialog .body, #modelLibrary-evaluate-dialog .body,#modelLibrary-setTrain-dialog .body,
#modelLibrary-add-panel .container,#modelLibrary-details-panel .container{
    padding: 0px 30px;
    overflow-y: auto;
}
.soon-dialog-form {
    padding: 13px 3px;
}
.soon-dialog-form .form-label{
    text-align: right;
}
.soon-dialog-form table {
    border-spacing: 6px;
}
#configMLParamsText {
    display: inline-block;
    background-color: #518eec;
    color: white;
    width: 100%;
    height: 20px;
    text-align: center;
    cursor: pointer;
}
.soon-dialog-form input,select{
    width: 201px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#configMLParamsText a:hover {
    background-color: darkgoldenrod;
}
#modelLibrary-add-panel .bottom {
    overflow-y: auto;
}
#modelLibrary-add-panel .panel-button {
    background-color: #518ecc;
    color: white;
    display: inline-block;
    cursor: pointer;
    height: 29px;
    padding: 6px 8px 2px 8px;
    margin: 4px;
    float: right;
}
#modelLibrary-add-panel input,select{
    width: 177px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#modelLibrary-details-panel .label {
    font-weight: bold;
    text-align: right;
    font-size: 10pt;
    padding-right: 6px;
}
#modelLibrary-details-panel .middle-table,.bottom-table{
    margin: 10px 100px 10px 50px;
    border-spacing: 7px;
}
#modelLibrary-details-panel .middle h4{
    margin-left: 15px;
}
#modelLibrary-details-panel .middle a {
    margin-left: 46px;
}
#soon-view div.ctrl-btns img {
    width:47px;
    height:47px;
}
#ov-soon div.tabular-header div.ctrl-btns{
    top:55px;
    right:20px;
}
/*#rawDataSearchBy option{
    font-weight: lighter;
}*/



#areaPred .axis--x path {
    display: none;
}

#areaPred .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

#ov-soon .table-body {
    height: 1000px;
}


.demo1 {
    width: 1140px;
    text-align: center;
}